<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= image_tag drink.image_url, class: 'card-img' %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= drink.name %></h5>
        <p class="card-text"><%= drink.description %></p>
        <span class="card-text"><small class="text-muted">Origin: <%= drink.origin %></small></span>
        <span>|</span>
        <span class="card-text"><small class="text-muted">Alcohol Level: <%= drink.alcohol_level %>%</small></span>
      </div>
    </div>
  </div>
</div>
