<% if defined?(@messages) %>
  <% @messages.each do |message| %>
    <div class="row">
      <div class="col">
        <div class="alert alert-primary" role="alert">
          <%= message %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% @drinks.each do |drink| %>
  <%= render 'drink', {drink: drink} %>
<% end %>
