<div>
  <div class="header gradient">
    <%= image_tag 'cocktail-white.svg', class: 'icon' %>
    <div class="header__title">The drinks searcher</div>
  </div>

  <div class="container">
    <div class="searcher">
      <div class="searcher__radio">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="searchRadio" id="simpleSearch" value="simple" checked>
          <label class="form-check-label" for="simpleSearch">Easy search</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="searchRadio" id="advancedSearch" value="advanced">
          <label class="form-check-label" for="advancedSearch">Recommend me ;)</label>
        </div>
      </div>

      <%= form_tag('', method: :get) do %>
      <div class="simple-form">
        <div class="simple-form__input">
          <input name="search" class="form-control form-control-lg" type="text" placeholder="Try a Martini..">
        </div>
        <div class="simple-form__btn">
          <button type="submit" class="btn btn-outline-primary btn-lg">Search</button>
        </div>
      </div>
      <% end %>

      <%= form_tag('recommendation', method: :get) do %>
      <div class="advanced-form" style="display:none;">

        <div class="row">
          <div class="col-12">

            <div class="form-group">
              <button type="button" class="btn btn-outline-primary btn-lg give_anything">Give me anything!</button>
            </div>

            <!-- where are you from?
            miss home? -->

            <div class="form-group">
              <label for="get_drunk">Do you want to get drunk tonight?</label>
              <select name="get_drunk" class="form-control" id="get_drunk">
                <option value="no" selected>No, thanks</option>
                <option value="yes">Yes, of course!</option>
              </select>
            </div>

            <div class="form-group">
              <label for="origin">Do you have any drink origin preference? If so, which one?</label>
              <select name="origin" class="form-control" id="origin">
                <option value="No" selected>No</option>
                <option value="Other">Other</option>
                <option value="Brazil">Brazil</option>
                <option value="London">London</option>
                <option value="New York">New York</option>
                <option value="Cuba">Cuba</option>
                <option value="Japan">Japan</option>
                <option value="Mexico">Mexico</option>
                <option value="California">California</option>
                <option value="New Orleans">New Orleans</option>
                <option value="Italy">Italy</option>
              </select>
            </div>

            <div class="form-check">
              <input name="russian" class="form-check-input" type="checkbox" value="" id="russian">
              <label class="form-check-label" for="russian">
                Are you Russian?
              </label>
            </div>


            <div class="form-group">
              <button type="submit" class="btn btn-outline-primary btn-lg">Search</button>
            </div>

          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="drinks-list">
    <%= render 'drinks_list' %>
    </div>

  </div>
</div>
